<h1>Booking for <%= @booking.offer.name %></h1>
<p>Date : <%= @booking.date %></p>
<p>Status : <%= @booking.status %></p>

<% if current_user == @booking.user %>
  <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-warning" %>
  <%= link_to "Cancel", booking_path(@booking), method: :delete, data: { confirm: "Cancel this booking ?" }, class: "btn btn-danger" %>
<% end %>
