<h1>My profile</h1>

<%= image_tag(@user.photo_url, style:"height:100px; width:100px; border-radius:50px", class:"mx-auto d-block") %>

<h3><%= @user.first_name @user.last_name%></h3>

<h2>My bookings</h2>
<% @my_bookings.each do |booking| %>
  <p><%= link_to "#{booking.offer.name} #{booking.offer.offer_type} #{booking.offer.price}", booking_path(booking) %></p>
<% end %>

<h2>My offers</h2>
<% @my_offers.each do |offer| %>
  <p><%= link_to offer.name, offer_path(offer) %></p>
<% end %>

<%= link_to "Back", offers_path, class:"btn btn-primary" %>
