<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="cards-container mt-5">
  <% @offers.each do |offer| %>
    <div class="card">
      <div class="container">
        <%= image_tag(offer.photo_url, style:"width:100%; border-radius:10px") %>
        <h3><b><%= offer.name %></b></h3>
        <p><%= offer.offer_type %></p>
        <p><%= offer.area %></p>
        <h3><b><%= offer.price %>€</b></h3>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add an offer", new_offer_path %>
