<h1>Offers</h1>

<ul>
  <% @offers.each do |offer| %>
    <div>
      <% if offer.photo.attached? %>
        <%= image_tag(offer.photo, style: "height:248px; width:248px; border-radius:10px") %>
      <% else %>
        <%= image_tag(offer.photo_url, style: "height:248px; width:248px; border-radius:10px") if offer.photo_url.present? %>
      <% end %>

      <p><%= offer.name %></p>
      <p><%= offer.offer_type %></p>
      <p><%= offer.area %></p>

      <%= link_to 'See more', offer_path(offer), class: 'btn btn-primary' %>
    </div>
  <% end %>
</ul>

<%= link_to "Add an offer", new_offer_path %>
