<%= @offer.photo.attached? ? image_tag(@offer.photo, size: "248x248") : image_tag(@offer.photo_url, size: "248x248") %>
<h2><%= @offer.name %></h2>
<p><%= @offer.offer_type %></p>
<p><%= @offer.description %></p>
<p><%= @offer.price %> €</p>
<p><%= @offer.area %></p>

<%= link_to "Back to offers", offers_path %>
<%= link_to "Edit offer", edit_offer_path(@offer) %>
<%= link_to "Delete", offer_path(@offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

<hr>

<% if user_signed_in? %>
  <h3>Book this offer</h3>
  <%= form_with model: [@offer, @offer.bookings.new], url: offer_bookings_path(@offer), local: true do |f| %>
    <div>
      <%= f.label :date, "Choose a date :" %>
      <%= f.date_field :date, required: true %>
    </div>

    <div>
      <%= f.submit "Book", class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %>
  <p>You have to be signed in.</p>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
