<!DOCTYPE html>
<html>
  <head>
    <title>SeniorMentor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background-gradient">
    <div class="container">



      <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">


          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag("logo_Senior_Mentor.png", alt: "Senior Mentor Logo") %>
          <% end %>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "button-log-out" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
              <%= link_to profile_path, class: "navbar-brand" do %>
            <%= image_tag("Mario.png", alt: "Mario", style: "border-radius: 50%; height: 60px; width: 60px") %>
          <% end %>
          </div>
        </div>
      </nav>

      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div class= "margin-left: 30px; mb-4 footer">
    <%= image_tag("Logo_footer.png", alt: "Logo footer", style: "width: 150px") %>

    </div>
    </div>

  </body>
</html>
